.loading-indicator{
    height:calc(100vh - 80px);
    display: flex;
    align-items: center;
    justify-content: center;
}
.products-container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}